@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
.row>* {
  padding: 0; 
}
ul {
  padding: 0;
  margin: 0;
}
:root {
  --body-color: #000;
  --dark: #343a40;
  --title-color: #fff;
  --red: #dc3545;
  --btn-color: #fa163f;
  --link-color: #bbb;
  --font-open-sans: font-family: 'Open Sans', sans-serif;
  --font-oswold: font-family: 'Oswald', sans-serif;
}

body {
  background-color: var(--body-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 5px;
  transition: all 0.3s linear;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
}

body::-webkit-scrollbar-thumb {
  transition: all 0.3s linear;
  background-color: rgb(168, 0, 0);
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
  outline: 1px solid rgb(204, 0, 0);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(25, 0, 255);
  outline: 1px solid rgb(17, 0, 255);
  transition: all 0.3s linear;
}

.padding {
  padding-left: 20%;
  transition: all 1s linear;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://amirayhan.github.io/tulsa/images/banner/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.header__modal {
  position: fixed;
  top: 0;
  left: -325px;
  width: 20%;
  height: 100vh;
  background-color: #0c0c0c;
  transition: all 0.5s linear;
  z-index: 1000;
}

.show {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100vh;
  z-index: 1000;
}

.left {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 24px;
  padding: 5px;
  border: 1px solid var(--red);
  transition: all 0.3s ease;
  background-color: var(--red);
  color: var(--title-color);
  z-index: 300;
}

.right {
  position: fixed;
  left: 0;
  top: 30px;
  font-size: 24px;
  padding: 5px;
  border: 1px solid var(--red);
  transition: all 0.3s ease 1s;
  background-color: var(--red);
  color: var(--title-color);
  z-index: 300;
}

.right-xs {
  left: -50px;
}

.left:hover {
  background-color: transparent;
}

.right:hover {
  background-color: transparent;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__name {
  width: 100%;
  font-family: var(--font-open-sans);
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 35px;
  color: var(--link-color);
}


.header__list {
  width: 100%;
  text-align: center;
  padding-right: 10px;
}

.header__item {
  width: 100%;
  margin-bottom: 25px;
  list-style: none;
}

.header__link {
  width: 100%;
  font-family: var(--font-open-sans);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--title-color);
}

.header__link:hover {
  color: var(--red);
}

.header__p {
  width: 100%;
  text-align: center;
  line-height: 2.75rem;
  padding-right: 13px;
  color: var(--link-color);
}

.header__solution {
  width: 100%;
  padding-right: 0px;
}

.header__icons {
  list-style: none;
}

.icon {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: var(--title-color);
  transition: all 0.3s ease;
  border: 1px solid var(--red);
  background-color: var(--red);
  margin-right: 10px;
}

.icon:hover {
  background-color: transparent;
}

.header__all {
  width: 100%;
  font-size: 15px;
  text-align: center;
  line-height: 2.75rem;
  color: var(--link-color);
}

.animation {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}


.hero__main--div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero__text {
  width: 100%;
  font-size: 24px;
  line-height: 2.75rem;
  margin-bottom: 20px;
  color: var(--title-color);
}

.hero__name {
  width: 100%;
  font-family: 'Oswald', sans-serif;
  color: var(--title-color);
  font-size: 55px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 10px;
}

.header__info {
  width: 100%;
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 35px;
}


span {
  color: var(--red);
}



.hero__btn {
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 11px 18px;
  display: inline-block;
  transition: all 0.3s ease;
  border: 2px solid var(--btn-color);
  color: var(--title-color);
  background-color: var(--btn-color);
}

.hero__btn:hover {
  color: var(--title-color);
  background-color: transparent;
  border: 2px solid var(--btn-color);
}


.down__icon {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  color: var(--title-color);
  animation: down 2s steps(3) infinite;
}

@keyframes down {
  0% {
    bottom: 20px;
    opacity: 0;
  }

  30% {
    bottom: 18px;
    opacity: 0;
  }

  .50% {
    bottom: 15px;
    opacity: 0.5;
  }

  75% {
    opacity: 0.7;
    bottom: 13px;
  }

  100% {
    bottom: 10px;
    opacity: 1;
  }
}

.icons2 {
  bottom: 35px;
  animation: down2 3s linear 2s infinite;
}

@keyframes down2 {
  0% {
    opacity: 0;
    bottom: 35px;
  }

  30% {
    opacity: 0;
    bottom: 28px;
  }
}


.hero-page {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 300;
}

.hero-page__span {
  width: 13px;
  height: 13px;
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: down 2s infinite;
  transition: all 0.5s linear;
}


.hero-page__span:nth-child(2) {
  animation-delay: 0.2s;
}

.hero-page:hover .hero-page__span {
  border-right: 2px solid #fa163f;
  border-bottom: 2px solid #fa163f;
}

@keyframes down {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }

  100% {
    opacity: 0;
  }
}


#about {
  padding-top: 120px;
  padding-bottom: 100px;
}

.about__title {
  width: 100%;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 34px;
  padding-left: 25px;
  letter-spacing: 3px;
  line-height: 1.75rem;
  margin-bottom: 40px;
  color: var(--title-color);
}

.about__title::before {
  content: '';
  height: 32px;
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -3px;
  border-left: 10px solid var(--btn-color);
}

.amspan {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}




.about__cu {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 2.1rem;
  letter-spacing: 3px;
  color: var(--link-color);
}

.about__img {
  position: relative;
  top: 76px;
  width: 100%;
  height: auto;
}

.about__btn {
  margin-right: 20px;
  padding: 12px 15px;
}



.cuuz {
  display: none;
}


.about__curu {
  padding: 3px 10px;
  font-size: 23px;
  font-weight: 600;
  transition: all 0.3s ease;
  color: var(--title-color);
  border: 2px solid var(--btn-color);
  background-color: transparent;
}

.about__curu:hover {
  background-color: var(--btn-color);
}

.curu {
  display: none;
}


.about__call {
  padding: 10px 0;
  background-color: #0c0c0c;
  border: 1px solid #0c0c0c;
  border-radius: 6px;
  transition: all 0.4s linear;
}

.about__call:hover {
  transition: all 0.4s linear;
  border: 1px solid #fa163f;
}

.about__buttons {
  margin-bottom: 35px;
}

.about__icon {
  font-size: 30px;
  color: #fa163f;
  margin-bottom: 15px;
}

.about__phone {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 1.75rem;
  margin: 0;
  color: #fff;
  margin-bottom: 10px;
}

.about__addres {
  margin-right: 20px;
}

.about__num {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #bbb;
  line-height: 2rem;
  margin: 0;
}

.about__email {
  padding: 10px 0;
  background-color: #0c0c0c;
  border: 1px solid #0c0c0c;
  border-radius: 6px;
  transition: all 0.4s linear;
}

.about__email:hover {
  transition: all 0.4s linear;
  border: 1px solid #fa163f;
}

.about__user {
  width: 450px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.skils__box {
  position: relative;
}

.skils__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  margin-bottom: 10px;
}

.skils__bar {
  position: relative;
  background: rgba(255, 255, 255, 0.705);
  margin-bottom: 25px;
}

.skils__bar-second {
  position: relative;
  background: rgba(255, 255, 255, 0.705);
  margin-bottom: 25px;
}

.skils__bar-third {
  position: relative;
  background: rgba(255, 255, 255, 0.705);
  margin-bottom: 25px;
}

.skils__line {
  width: 80%;
  height: 5px;
  position: relative;
  transition: ease all 0.55s;
  background-color: #fa163f;
}

.skils__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fa163f;
  position: absolute;
  right: -1px;
  top: -5px;
}

.skils__line-second {
  width: 65%;
  height: 5px;
  position: relative;
  transition: ease all 0.55s;
  background-color: #fa163f;
}

.skils__line-third {
  width: 10%;
  height: 5px;
  position: relative;
  transition: ease all 0.55s;
  background-color: #fa163f;
}

#skils {
  padding: 50px 0;
  margin-bottom: 120px;
  background-color: #0c0c0c;
}


.portfalio {
  background-color: #0c0c0c;
  padding: 120px 0 90px;
}

.portfalio__list {
  list-style-type: none;
}

.portfalio__item {
  position: relative;
  margin-bottom: 30px;
  padding: 0 12px 0 12px;
}


.portfalio__img {
  width: 100%;
  height: auto;
}

.portfalio__box {
  display: inline-block;
  width: 93.5%;
  height: 40%;
  margin-left: 12px;
  background-color: #fa163f;
  position: absolute;
  top: 50%;
  left: 0;
  transition: all 0.4s linear;
  transform: translateY(-50%);
  opacity: 0;
}

.portfalio__item:hover .portfalio__box {
  height: 100%;
  opacity: 1;
}

.portfalio__main {
  position: absolute;
  top: 10px;
  left: 40px;
}

.portfalio__main::before {
  content: '';
  display: inline-block;
  background-color: #fff;
  width: 3px;
  height: 45px;
  position: absolute;
  top: 3px;
  left: -10px;
  transition: all 1s linear 0.4s;
  opacity: 0;
}


.portfalio__item:hover .portfalio__main::before {
  opacity: 1;
}

.portfalio__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 0px;
}

.portfalio__cate {
  font-family: var(--open-sans-font);
  color: #fff;
  opacity: 0;
  padding-left: 10px;
  transition: all 1s linear 0.4s;
}

.portfalio__item:hover .portfalio__cate {
  opacity: 1;
  padding-left: 0;
}


.portfalio__eye,
.portfalio__git {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #fff;
  text-align: center;
  line-height: 35px;
  color: #fa163f;
  text-decoration: none;
}

.portfalio__git {
  right: 70px;
}

.portfalio__git:hover,
.portfalio__eye:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.icon-portfalio {
  font-size: 18px;
}

.contact__content {
  width: 100%;
  background-color: #0c0c0c;
  border-radius: 6px;
  padding: 30px;
}

.contact__title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin: 0;
  color: #fff;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact__text {
  font-size: 15px;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #bbb;
  margin-bottom: 20px;
}

.contact__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact__item {
  display: flex;
  align-items: center;
  line-height: 46px;
  margin-bottom: 15px;
}

.contact__ikon {
  margin-right: 10px;
  padding: 6px;
  font-size: 24px;
  color: #bbb;
  background-color: #fa163f;
  display: inline-block;
  transition: all 0.3s ease;
  border: 1px solid #fa163f;
  border-radius: 50%;
}

.contact__ikon:hover {
  background-color: #000;
  border: 1px solid #fa163f;
  transition: all 0.3s ease;
}

.contact__link {
  text-decoration: none;
}

.contact__num {
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #bbb;
  line-height: 2rem;
  text-decoration: none;
  margin: 0;
}

.input__text {
  color: #555;
  background: #000000;
  width: 100%;
  min-height: 45px;
  padding: 0 0 0 10px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 29px;
  border: none;
  border: 1px solid #141414;
  text-shadow: none;
}

.input__text:focus {
  color: #fff;
}


.input__messag {
  color: #555;
  background: #000000;
  width: 100%;
  height: 182px;
  padding: 10px 0 0 10px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 29px;
  border: none;
  border: 1px solid #141414;
  text-shadow: none;
}

.input__messag:focus {
  color: #fff;
}

#contact {
  margin-bottom: 120px;
}




#footer {
  padding: 100px 0;
  background-color: #191919;
}

.footer___logo {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.footer__item {
  margin-right: 25px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__ikon {
  padding: 8px;
  font-size: 25px;
  color: #bbb;
  background-color: #fa163f;
  display: inline-block;
  transition: all 0.3s ease;
  border: 1px solid #fa163f;
  border-radius: 50%;
}

.footer__ikon:hover {
  background-color: #000;
  border: 1px solid #fa163f;
  transition: all 0.3s ease;
}

.footer__text {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #bbb;
  margin-bottom: 0;
}


.up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 7px;
  font-size: 30px;
  background-color: #0c0c0c;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fa163f;
  border-radius: 50%;
  transition: all 0.3s linear;
  z-index: 50;
}

.up:hover {
  background-color: #fa163f;
  transition: all 0.3s linear;
}



.cursor,
.cursor-spot {
  position: fixed;
  top: 50%;
  left: -100px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  pointer-events: none;
  z-index: 5000;
}

.cursor {
  width: 35px;
  height: 35px;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
  border: 2px solid #fff;
  transition: all 0.2s ease-out;
  z-index: 5000;
}

.cursor-spot {
  width: 7px;
  height: 7px;
  background-color: #fff;
  z-index: 5000;
}

.chover {
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
  border: none;
  transform: translateX(-50%) translateY(-50%) scale(2);
  z-index: 5000;
}











@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }

  .about__buttons {
    margin-bottom: 40px;
  }
  .show {
    width: 30%;
    z-index: 2;
  }

  .animation {
    z-index: 1;
  }

}

@media screen and (max-width: 992px) {
  .contact__info {
    margin-bottom: 40px;
  }

  .footer__desc {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .footer__text {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  * {
    margin-right: 0;
  }
}


@media screen and (max-width: 725px) {
  .show {
    width: 40%;
  }

  .header__name {
    margin-bottom: 85px;
  }

  .header__item {
    margin-bottom: 10px;
  }

  .contacn {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 620px) {
  .show {
    width: 45%; 
  }

}

@media screen and (max-width: 485px) {
  .show {
    width: 55%;
  }
}

@media screen and (max-width: 440px) {
  .hero__name {
    font-size: 35px;
  }

  .header__info {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .contact__num {
    font-size: 12px;
    font-weight: 500;
  }
}

@media screen and (max-width: 390px) {
  .show {
    width: 70%;
    height: 100vh;
  }
}